doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
H1 Vijendra is self learner hardcore web developer

H2 Learning node.js as backend 

H3 CONTACT 
H4 Email-   vsisodiyadesign@gmail.com
H4 Phone Number- 7737221411