doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
H1 Vijendra is self learner hardcore web developer

H2 Learning node.js as backend 