doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    image-block
	image.classNameIdName(src"/images/dp.jpg")
	block content
H1 Vijendra is self learner hardwork web developer

